doctype html
head
  include head.pug
  title Ledger options
  script let deleteIndex = -1;
include navbar.pug
.container
  .row
    #mates.col
      h1 Mates
      table.table
        thead
          tr
            th(scope='col') Name
            th(scope='col') Rent
            th(scope='col')
          tr
            td asdf
            td asdf
              
    #categories.col
    
