doctype html
head
  include head.pug
  title Ledger options
  script let deleteIndex = -1;
include navbar.pug
.container
  .row
    #mates.col
      h1 Mates
      table.table.table-sm
        thead
          tr
            th(scope='col') Name
            th(scope='col') Rent
            th(scope='col')
          tr
            td asdf
            td asdf
            td
              button.tableRowBtn
                span.ui-icon-edit
    #categories.col
    //- recurring payments
    //- change month (with options on what to do with current expenses)
    //- 
    
